@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    html {
        background-image: linear-gradient(to bottom, #5E2C81,#4C929A); 
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    }



    .login {
        width: 80vw;

    }

    .imagem {
        float: left;
        height: 100%;
        width: 40%;
    }

    .formulario {
        float: right;
        width: 60%;

    }


}

@media screen and (min-width:992px) {

    html {
        background-image: linear-gradient(to bottom, #5E2C81,#4C929A); 
        background-repeat: no-repeat;
        background-attachment: fixed;
    
    }

    .login {
        width: 90vw;

    }

    .imagem {
        float: left;
        height: 100%;
        width: 50%;
    }

    .formulario {
        float: right;
        width: 50%;

    }
    
}